/* defaults */
ul {
  list-style-type: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Orbitron:wght@400;500;600;700;800&family=Padauk:wght@400;700&family=Viga&display=swap");

/* generals */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Padauk;
}

/* fontsize */

.fontsize22 {
  font-size: 22px;
}
.fontsize30 {
  font-size: 30px;
}
.fontsize40 {
  font-size: 40px;
}

/* colors */
.red {
  background-color: #ff3452;
}
.blue {
  background-color: #23cbe8;
}
.green {
  background-color: #23e8a1;
}
.yellow {
  background-color: #fbc059;
}
.dark-base {
  background-color: #131c23;
}
.dark-base2 {
  background-color: #15232e;
}
.dark-component {
  background-color: #1f2935;
}
.white {
  background-color: white;
}
.dirty-white {
  background-color: #838b98;
}

/* border */
.no-border {
  border: none;
}
.dark-stroke {
  border: #263241 solid 1px;
}
.dark-stroke-right {
  border-right: #263241 solid 1px;
}

/* border radius */
.radius2 {
  border-radius: 2px;
}
.radius5 {
  border-radius: 5px;
}
.radius10 {
  border-radius: 10px;
}
.radius-infinite {
  border-radius: 10000%;
}
.radius-tops-only {
  border-radius: 50px 50px 0 0;
}

/* text colors */
.text-white {
  color: #e5e5e5;
}
.text-dirty-white {
  color: #838b98;
}
.text-black {
  color: black;
}
.text-green {
  color: #23e8a1;
}
.text-yellow {
  color: #fbc059;
}
.text-red {
  color: #ff3452;
}

/* text size */
.font-12 {
  font-size: 12px;
}
.font-16 {
  font-size: 16px;
}

/* display */
/* block */
.block {
  display: block;
}
.display-none {
  display: none;
}

/* flex */
.flex {
  display: flex;
}
.super-centered {
  align-items: center;
  justify-content: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-right {
  justify-content: right;
}
.justify-left {
  justify-content: left;
}
.align-center {
  align-items: center;
}
.align-bottom {
  align-items: flex-end;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}

/* flex grid */
.half {
  width: 3.125%;
}
.one {
  width: 6.25%;
}
.two {
  width: 12.5%;
}
.three {
  width: 18.75%;
}
.four {
  width: 25%;
}
.five {
  width: 31.25%;
}
.six {
  width: 37.5%;
}
.seven {
  width: 43.75%;
}
.eight {
  width: 50%;
}
.nine {
  width: 56.25%;
}
.ten {
  width: 62.5%;
}
.eleven {
  width: 68.75%;
}
.twelve {
  width: 75%;
}
.thirteen {
  width: 81.25%;
}
.fourteen {
  width: 87.5%;
}
.fifteen {
  width: 93.75%;
}
.sixteen {
  width: 100%;
}

.width-2px {
  width: 2px;
}
.width-5px {
  width: 5px;
}

/* square */
.square5 {
  width: 5px;
  height: 5px;
}
.square10 {
  width: 10px;
  height: 10px;
}
.square20 {
  width: 20px;
  height: 20px;
}
.square30 {
  width: 30px;
  height: 30px;
}
.square50 {
  width: 50px;
  height: 50px;
}

/* height */
.height-100vh {
  height: 100vh;
}
.height-100 {
  height: 100%;
}
.height-90 {
  height: 90%;
}
.height-80 {
  height: 80%;
}
.height-70 {
  height: 70%;
}
.height-60 {
  height: 60%;
}
.height-50 {
  height: 50%;
}
.height-40 {
  height: 40%;
}
.height-30 {
  height: 30%;
}
.height-20 {
  height: 20%;
}
.height-10 {
  height: 10%;
}
.height-10px {
  height: 10px;
}
.height-20px {
  height: 20px;
}
.height-30px {
  height: 30px;
}
.height-40px {
  height: 40px;
}
.height-50px {
  height: 50px;
}
.height-60px {
  height: 60px;
}
.height-70px {
  height: 70px;
}
.height-80px {
  height: 80px;
}
.height-90px {
  height: 90px;
}
.height-100px {
  height: 100px;
}
.height-250px {
  height: 250px;
}

.min-width120em {
  min-width: 120em;
}

.min-height500px {
  min-height: 1000px;
}

/* fullwidth and height */
.full {
  width: 100%;
  height: 100%;
}

/* margin */
.mr8 {
  margin-right: 8px;
}
.mr12 {
  margin-right: 12px;
}
.mr20 {
  margin-right: 20px;
}
.ml5 {
  margin-left: 5px;
}
.ml12 {
  margin-left: 12px;
}
.ml20 {
  margin-left: 20px;
}
.mt12 {
  margin-top: 12px;
}
.mt20 {
  margin-top: 20px;
}
.mb12 {
  margin-bottom: 12px;
}
.mb20px {
  margin-bottom: 20px;
}

/* paddings */
.plr5 {
  padding: 0px 5px;
}
.plr20 {
  padding: 0px 20px;
}
.plr30 {
  padding: 0px 30px;
}
.ptb0 {
  padding-top: 0;
  padding-bottom: 0;
}
.pb20 {
  padding-bottom: 20px;
}
.p10 {
  padding: 10px;
}
.pt60 {
  padding-top: 60px;
}
.pl30 {
  padding-left: 30px;
}
.pl60 {
  padding-left: 60px;
}

/* positions */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.left0 {
  left: 0;
}
.left20px {
  left: 20px;
}
.left30px {
  left: 30px;
}

.right0 {
  right: 0;
}
.right20px {
  right: 20px;
}
.right30px {
  right: 30px;
}
.right60px {
  right: 60px;
}

.top0 {
  top: 0;
}
.top20px {
  top: 20px;
}
.top30px {
  top: 30px;
}

.bottom0 {
  bottom: 0;
}
.bottom20px {
  bottom: 20px;
}
.bottom30px {
  bottom: 30px;
}

/* zindex */
.z-1 {
  z-index: -1;
}
.z-2 {
  z-index: -2;
}
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z20 {
  z-index: 200;
}

/* image fit */
.contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* shadow */
.shadow-fuzzy {
  box-shadow: 0px 23px 12px -11px #0c1a25;
}

/* overflows */
.overflow-hidden {
  overflow: hidden;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.scroll {
  overflow-y: scroll;
}

/* transform */
.scale40 {
  transform: scale(0.4);
}
.scale50 {
  transform: scale(0.5);
}
.scale60 {
  transform: scale(0.6);
}
.scale70 {
  transform: scale(0.7);
}
.scale80 {
  transform: scale(0.8);
}
.scale90 {
  transform: scale(0.9);
}

/* .perspective-100px {
  perspective: 1000px;
} */

.rotate45 {
  transform: rotate("45deg")!important;
} 


/* cursor */

.pointer {
  cursor: pointer;
}

/* opacity */

.opacity-0 {
  opacity: 0;
}




