/* custom */
body {
  overflow: hidden !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a212b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e3a4b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.w3-table {
  overflow-x: hidden !important;
}
.w3-table td {
  padding: 20px 10px !important;
}

.w3-bordered tr {
  border-bottom: solid 1px #39495c !important;
}

tbody {
  color: rgb(172, 172, 172) !important;
}

.active {
  background-color: #2f3a46;
}

.item {
  position: relative;
  float: left;
}

.item h2 {
  text-align: center;
  position: absolute;
  line-height: 125px;
  width: 100%;
}

svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.outer-green {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 220;
}

.middle-yellow {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 250;
}

.inner-red {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 300;
}

.lines {
  border-top: 1px solid #f2f2f27c;
}

.callout-line {
  width: 50vw;
  border-width: 5px;
  stroke-dasharray: 450; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 450;
}

#shipath {
  width: 50vw;
  border-width: 5px;
  stroke-dasharray: 12000; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 0;
}
